.selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 450px;

  color: black;
  margin: 0;
  border-radius: 20px;
  flex-wrap: wrap;
}

.project-selector {
  padding: 30px 30px;
  margin: auto;
  border: solid;
  border-color: black;
  transition: transform 0.2s ease, background-color 0.2s ease;
  user-select: none;
}

.project-selector:hover {
  cursor: pointer;
  transform: scale(1.025);
  background-color: aquamarine;
}

.project-selector:active {
  transform: scale(0.975);
}

.projectlist-container {
  width: 125vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: goldenrod;
}
